@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.text-1230 {
  position: relative;
  text-transform: uppercase;
}
.head-offer3 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.burger-vector-icon3 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-53 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-1069-icon7 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 52px;
  height: 51px;
  object-fit: cover;
}
.logo7 {
  position: relative;
  width: 52px;
  height: 53px;
}
.component-5-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.phmagnifying-glass-bold-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.phmagnifying-glass-bold-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-parent4,
.header7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent4 {
  flex: 1;
  gap: var(--gap-base);
}
.header7 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-whitesmoke-100);
  padding: var(--padding-3xs) var(--padding-sm);
  background-color: rgb(255, 207, 0);
}
.title4 {
  flex: 1;
  position: relative;
  -webkit-text-stroke: 2px #000;
}
.text75 {
  position: absolute;
  top: 238px;
  left: 6px;
  width: 222px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text-20,
.text-201 {
  position: relative;
  text-transform: uppercase;
}
.text-20 {
  text-decoration: line-through;
}
.text-201 {
  -webkit-text-stroke: 2px #000;
}
.text-20-parent,
.text76 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text76 {
  width: 107px;
  justify-content: center;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lego);
}
.text-20-parent {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
}
.price-section {
  position: absolute;
  top: 231px;
  right: 20px;
  border-radius: var(--br-11xl);
  background-color: #ff141e;
  width: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.banner1 {
  align-self: stretch;
  position: relative;
  height: 296px;
  background-image: url(./public/banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.banner,
.top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  background-color: var(--color-white);
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-lego);
}
.top {
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.arrow-icon4 {
  position: relative;
  width: 20.4px;
  height: 20.4px;
}
.frame,
.frame-frame {
  align-self: stretch;
  display: flex;
}
.frame {
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-frame {
  border-radius: var(--br-3xs);
  height: 256px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.slider-indicate-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #272727;
}
.slider-indicate1 {
  flex: 1;
  position: relative;
  height: 3px;
}
.slider-indicate-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-silver-100);
}
.slider,
.slider-indicate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-indicate {
  margin: 0 !important;
  position: absolute;
  top: 270.8px;
  left: 14px;
  width: 370px;
  height: 2.3px;
  flex-direction: row;
  z-index: 1;
}
.slider {
  align-self: stretch;
  height: 286px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-sm) var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  gap: 17px;
  background-image: url(./public/slider@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.h {
  text-transform: uppercase;
}
.text-1231 {
  position: relative;
}
.text77 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
}
.text-wrapper2 {
  background-color: var(--color-goldenrod);
  padding: var(--padding-8xs) var(--padding-3xs);
}
.frame-parent6,
.text-wrapper2,
.text-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper3 {
  background-color: var(--color-firebrick);
  padding: var(--padding-8xs) var(--padding-3xs);
  color: var(--color-white);
}
.frame-parent6 {
  gap: var(--gap-8xs);
}
.star-icon {
  position: relative;
  width: 14px;
  height: 13px;
}
.text-wrapper4 {
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.frame-parent5,
.star-parent {
  display: flex;
  flex-direction: row;
}
.star-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: 10px;
  color: #2b65ad;
}
.frame-parent5 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-10xs) var(--padding-sm);
  font-size: var(--font-size-xs);
}
.title5 {
  flex: 1;
  position: relative;
  text-transform: uppercase;
}
.title-wrapper {
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.frame-wrapper3,
.frame-wrapper4,
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-wrapper4 {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
}
.title-section,
.title-section-inner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.title-section-inner {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title-section {
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  font-size: 30px;
  font-family: var(--font-lego);
}
.text80 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--color-firebrick);
}
.text-20-group,
.text-wrapper5 {
  display: flex;
  justify-content: flex-start;
}
.text-20-group {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs);
  gap: var(--gap-3xs);
}
.text-wrapper5 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs) 0;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-seagreen);
}
.sale-ending-timer1 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  flex-shrink: 0;
}
.sale-ending-timer,
.text83 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text83 {
  justify-content: center;
  padding: var(--padding-8xs) 0;
}
.sale-ending-timer {
  width: 81px;
  justify-content: space-between;
  color: var(--color-firebrick);
}
.price-section-parent,
.sale-ends-in {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sale-ends-in {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8xs);
}
.price-section-parent {
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
}
.title6 {
  position: relative;
  -webkit-text-stroke: 2px #000;
}
.buy-now,
.text84 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text84 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-yellowgreen);
  padding: var(--padding-6xs) 0;
}
.buy-now {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-21xl);
  height: 72px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-lego);
}
.visa-icon {
  position: relative;
  width: 42px;
  height: 27px;
}
.amex-child {
  position: absolute;
  height: 108%;
  width: 105%;
  top: -4%;
  right: -2.5%;
  bottom: -4%;
  left: -2.5%;
  border-radius: var(--br-7xs);
  background-color: var(--color-linen);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.vector-icon {
  position: absolute;
  height: 31.6%;
  width: 78.75%;
  top: 34.4%;
  right: 10.75%;
  bottom: 34%;
  left: 10.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.amex {
  position: relative;
  width: 40px;
  height: 25px;
}
.xmlid-34-icon {
  position: absolute;
  height: 48%;
  width: 75%;
  top: 24%;
  right: 12.5%;
  bottom: 28%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trusted-payment {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-12xs);
  z-index: 2;
}
.buy-section,
.text85,
.trusted-payment {
  display: flex;
  align-items: center;
}
.text85 {
  margin: 0 !important;
  position: absolute;
  top: 172px;
  left: 32px;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
  font-size: var(--font-size-5xs);
  color: var(--color-gainsboro-100);
}
.buy-section {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  position: relative;
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--font-size-xl);
}
.icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-1419 {
  flex: 1;
  position: relative;
}
.text86 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
}
.top1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  gap: var(--gap-3xs);
}
.text-1235 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: none;
}
.text87 {
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content3,
.drop-button {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  display: none;
  font-size: var(--font-size-xs);
}
.drop-button {
  border-radius: var(--br-3xs);
  display: flex;
  padding: var(--padding-8xs) 0 var(--padding-3xs);
  gap: var(--gap-6xs);
}
.dpd-logo-2015-logo-icon1,
.g834-icon1 {
  position: relative;
  width: 64.2px;
  height: 27.1px;
}
.g834-icon1 {
  width: 69.4px;
  height: 21.3px;
}
.delivery-inner,
.group-icon {
  position: relative;
  width: 73.5px;
  height: 22.7px;
}
.group-icon {
  width: 30px;
  height: 35.8px;
}
.delivery1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  mix-blend-mode: normal;
}
.content4,
.drop-button1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.content4 {
  display: none;
  align-items: center;
  font-size: var(--font-size-xs);
}
.drop-button1 {
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
}
.icon2 {
  position: relative;
  width: 30px;
  height: 30px;
}
.years-warranty {
  text-transform: lowercase;
}
.delivery2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  mix-blend-mode: normal;
}
.our-product-is2 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.for-more-information2 {
  margin: 0;
}
.text-1238 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.icon4 {
  position: relative;
  border-radius: var(--br-81xl);
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.text95 {
  width: 330px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
}
.details,
.drop-button4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.drop-button4 {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-6xs);
}
.details {
  align-items: center;
  padding: 0 var(--padding-sm);
}
.frame-child {
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  height: 241px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child,
.text-fill {
  align-self: stretch;
  position: relative;
}
.frame-parent8,
.text-fill-container,
.text-fill-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-fill-container {
  font-size: var(--font-size-xs);
}
.frame-parent8 {
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) 0;
  gap: var(--gap-3xs);
}
.frame-item {
  max-width: 100%;
  overflow: hidden;
  height: 251px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-item,
.text-fill3,
.text-fill4 {
  align-self: stretch;
  position: relative;
}
.text-fill3 {
  font-weight: 500;
}
.text-fill4 {
  font-size: var(--font-size-xs);
}
.frame-parent9,
.text-fill-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
}
.frame-parent9 {
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) 0;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.frame-inner {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 241px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent15,
.frame-parent7,
.index-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent7 {
  gap: var(--gap-3xs);
}
.frame-parent15,
.index-inner {
  text-align: center;
}
.index-inner {
  border-radius: var(--br-3xs);
  padding: 0 var(--padding-sm);
}
.frame-parent15 {
  background-color: #bcb19f;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-3xs);
}
.stars,
.text101,
.text102 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text101 {
  margin: 0 !important;
  position: absolute;
  top: 176px;
  left: 35px;
  justify-content: center;
  z-index: 3;
  font-size: var(--font-size-5xs);
  color: var(--color-gainsboro-100);
}
.stars,
.text102 {
  justify-content: flex-start;
}
.text102 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.stars {
  width: 86px;
  gap: var(--gap-9xs);
}
.text-1241 {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}
.rated,
.reviews1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.reviews1 {
  height: 22px;
  align-items: center;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.text-1242 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.menu-button {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.reviews-parent {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 30px;
}
.reviews-parent,
.text-wrapper7,
.text104 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text-wrapper7 {
  align-self: stretch;
  flex-wrap: wrap;
  font-size: var(--font-size-sm);
  color: var(--color-seagreen);
}
.frame-child5 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-goldenrod);
  width: 222px;
  height: 21px;
}
.title-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
}
.group-child {
  border-radius: var(--br-xl);
  background-color: #d9d9d9;
  width: 222px;
}
.group-item {
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-goldenrod);
  width: 63px;
}
.group-inner,
.rectangle-parent {
  position: relative;
  width: 222px;
  height: 21px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-300);
}
.title-parent1,
.title-parent3 {
  flex-direction: row;
  color: var(--color-darkgray-100);
}
.title-parent1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title-parent3 {
  gap: 23px;
}
.title-frame,
.title-parent,
.title-parent3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-parent {
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: column;
  padding: 0 var(--padding-8xs) var(--padding-mini) 0;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.title-frame {
  flex-direction: row;
}
.image-1078-icon,
.image-1079-icon {
  position: relative;
  width: 13px;
  height: 10px;
  object-fit: cover;
}
.image-1079-icon {
  width: 12px;
}
.image-1078-parent {
  gap: var(--gap-3xs);
}
.frame-parent16,
.frame-parent17,
.image-1078-parent,
.title-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title-wrapper1 {
  flex: 1;
}
.frame-parent16,
.frame-parent17 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.frame-parent16 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.kittens-strike-back {
  align-self: stretch;
  position: relative;
  height: 643.6px;
}
.stars-parent,
.stars1,
.text105 {
  flex-direction: row;
  align-items: center;
}
.stars1 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.stars-parent,
.text105 {
  justify-content: center;
}
.text105 {
  flex: 1;
  display: none;
}
.stars-parent {
  display: flex;
  gap: var(--gap-5xs);
}
.text-1244 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.frame-parent21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.vector-icon2 {
  position: relative;
  width: 16px;
  height: 16px;
}
.text-1245 {
  position: relative;
  line-height: 13px;
}
.checkmark,
.text-parent26 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkmark {
  overflow: hidden;
  gap: var(--gap-7xs);
  color: var(--color-gray-200);
}
.text-parent26 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.text-2421 {
  position: relative;
  font-weight: 500;
}
.frame-parent20,
.review-template,
.text-wrapper8 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text-wrapper8 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-seagreen);
}
.frame-parent20,
.review-template {
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent20 {
  background-color: var(--color-white);
  padding: var(--padding-7xs);
  gap: var(--gap-5xs);
}
.review-template {
  border-bottom: 1px solid var(--color-silver-300);
}
.kittens-strike-back1,
.kittens-strike-back4 {
  align-self: stretch;
  position: relative;
  height: 643px;
}
.kittens-strike-back4 {
  height: 452.5px;
}
.kittens-strike-back5,
.kittens-strike-back7 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 362px;
  flex-shrink: 0;
  object-fit: cover;
}
.kittens-strike-back7 {
  height: 271px;
}
.reviews,
.text-1283 {
  font-size: var(--font-size-xs);
}
.reviews {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  gap: var(--gap-base);
}
.text-1283 {
  position: relative;
  line-height: 20px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.load-more-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img-1,
.img-2,
.img-3,
.load-more-content {
  background-color: var(--color-steelblue-100);
}
.load-more-content {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-lg);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.img-1,
.img-2,
.img-3 {
  position: relative;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: 2s ease-in-out 0.4s infinite load;
}
.img-1,
.img-3 {
  animation: 2s ease-in-out infinite load;
}
.img-3 {
  animation: 2s ease-in-out 0.8s infinite load;
}
.load-more-wrapper,
.progress {
  flex-direction: row;
  align-items: center;
}
.progress {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 47px);
  border-radius: var(--br-xl);
  width: 94px;
  height: 32px;
  display: none;
  justify-content: center;
  gap: 9px;
  z-index: 1;
}
.load-more-wrapper {
  border-radius: var(--br-10xs);
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.image-1069-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71px;
  height: 70px;
  object-fit: cover;
}
.logo8 {
  position: relative;
  width: 71px;
  height: 70px;
}
.ionlocation-outline-icon3 {
  position: relative;
  width: 16px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-1424 {
  position: relative;
  text-transform: capitalize;
}
.ionlocation-outline-parent1 {
  background-color: var(--color-gray-300);
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
}
.ionlocation-outline-parent1,
.logo-parent1,
.text166 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-parent1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-base);
}
.text166 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: center;
}
.text-parent36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.button6,
.e-mail3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-mail3 {
  border: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-8xs);
  flex-direction: row;
  padding: var(--padding-mini) 0 var(--padding-mini) var(--padding-3xs);
}
.button6 {
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-200);
  width: 197px;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.mdiyoutube-icon6 {
  position: relative;
  border-radius: var(--br-81xl);
  width: 27px;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.mdiyoutube-parent1,
.text-parent38 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.text-parent38 {
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.hidden-text3,
.text-content3 {
  align-self: stretch;
  align-items: center;
}
.hidden-text {
  display: none;
  flex-direction: row;
  justify-content: center;
  color: var(--color-gray-500);
}
.text-content3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.read-button-text {
  position: relative;
  font-size: var(--font-size-5xs);
  text-decoration: underline;
  font-family: var(--font-roboto);
  color: var(--color-gray-600);
  text-align: left;
}
.read-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-lg);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small-info-text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  opacity: 0.2;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-600);
}
.text-1287 {
  position: relative;
  line-height: 20px;
}
.text-wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.footer3,
.text175 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-sm);
  gap: var(--gap-3xs);
  margin-bottom: 70px;
  color: var(--color-white);
}
.text175 {
  width: 116px;
  flex-direction: row;
}
.text-208 {
  position: relative;
  text-decoration: line-through;
  text-transform: uppercase;
  display: none;
}
.text-20-parent1,
.text176 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text176 {
  justify-content: center;
  padding: var(--padding-8xs) 0;
  font-size: var(--font-size-sm);
}
.text-20-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.price-section3 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
}
.buy-now2,
.text-parent39,
.text177 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.text-parent39 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.buy-now2,
.text177 {
  flex-direction: row;
  align-items: center;
}
.text177 {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-yellowgreen);
}
.buy-now2 {
  text-decoration: none;
  border-radius: var(--br-21xl);
  height: 61px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-lego);
}
.bottom-block,
.index1 {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  max-width: 600px;
}
.bottom-block {
  align-self: stretch;
  height: 74px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  position: fixed;
  bottom: 0;
  z-index: 9;
}
.index1 {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.text-24 {
  position: relative;
  font-weight: 500;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.radix-iconscross-1 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-parent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-silver-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.text-12 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.text1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-3xs);
  font-size: var(--font-size-xs);
}
.material-symbolscake-outline-icon {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-121 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.text2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
}
.material-symbolscake-outline-parent,
.text-122,
.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-122 {
  position: relative;
  font-size: var(--font-size-xs);
  width: 175px;
}
.material-symbolscake-outline-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  flex: 1;
  border-left: 1px solid var(--color-gray-100);
  flex-direction: row;
}
.frame-container,
.frame-group,
.frame-parent,
.product-details-lego-60336-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
}
.frame-parent,
.product-details-lego-60336-f {
  flex-direction: column;
}
.frame-parent {
  align-self: stretch;
  gap: 15px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.product-details-lego-60336-f {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0-8px 24px rgba(81, 81, 81, 0.3);
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  opacity: 0;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.free-delivery-lego-60336-fre.animate,
.money-back-lego-60336-freigh.animate,
.product-details-lego-60336-f.animate,
.what-you-get-lego-60336-frei.animate,
.years-warranty-lego-60336-fr.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-bottom;
}
.text-241 {
  position: relative;
  font-weight: 500;
}
.text6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.x3-icon {
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.text-group {
  align-self: stretch;
  border-bottom: 1px solid var(--color-silver-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.delivery-child {
  position: relative;
  width: 74px;
  height: 23px;
}
.dpd-logo-2015-logo-icon {
  position: relative;
  width: 67px;
  height: 28px;
}
.delivery-item,
.g834-icon {
  position: relative;
  width: 69px;
  height: 21px;
}
.delivery-item {
  width: 29px;
  height: 35px;
}
.delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.text-129 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.text7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content,
.free-delivery-lego-60336-fre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  padding: var(--padding-xl) var(--padding-3xs) 0;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.free-delivery-lego-60336-fre {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0-8px 24px rgba(81, 81, 81, 0.3);
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  opacity: 0;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.text-243 {
  position: relative;
  text-transform: lowercase;
  font-weight: 500;
}
.text10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.radix-iconscross-12 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x41 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-parent1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-silver-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.our-product-is1 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.for-more-information1 {
  margin: 0;
}
.text-1211 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.text11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content2,
.years-warranty-lego-60336-fr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  padding: var(--padding-xl) var(--padding-3xs) 0;
  font-size: var(--font-size-xs);
}
.years-warranty-lego-60336-fr {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0-8px 24px rgba(81, 81, 81, 0.3);
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  opacity: 0;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.money-back-guarantee {
  text-transform: lowercase;
}
.text-245 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.text14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.radix-iconscross-14 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x51 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-parent3 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-silver-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.if-youre-not1 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.no-questions-asked1 {
  margin: 0;
}
.text-1213 {
  flex: 1;
  position: relative;
  line-height: 25px;
}
.text15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-3xs) 0;
  font-size: var(--font-size-xs);
}
.money-back-lego-60336-freigh {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0-8px 24px rgba(81, 81, 81, 0.3);
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  opacity: 0;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.text-246 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.text16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.radix-iconscross-15 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x52 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-parent4 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-silver-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.text-1214 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.text17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-3xs) 0;
  font-size: var(--font-size-xs);
}
.what-you-get-lego-60336-frei {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0-8px 24px rgba(81, 81, 81, 0.3);
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  opacity: 0;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.image-1069-icon {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 20px);
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.logo,
.union-icon,
.x {
  position: relative;
  width: 42px;
  height: 41px;
}
.union-icon,
.x {
  width: 14.4px;
  height: 14.5px;
}
.x {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.menu-top {
  align-self: stretch;
  background-color: var(--color-white);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-sm) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.text-14 {
  position: relative;
  line-height: 20px;
}
.text18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-a {
  text-decoration: none;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 var(--padding-base);
  color: inherit;
}
.buttons,
.menu-burger-lego-60336-freig {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons {
  align-self: stretch;
  border-bottom: 1px solid #e6e6e6;
  padding: var(--padding-base) 0;
  gap: 24px;
}
.menu-burger-lego-60336-freig {
  position: relative;
  background-color: var(--color-white);
  width: 390px;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.menu-burger-lego-60336-freig.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}


/* own styles own styles own styles own styles */
/* own styles own styles own styles own styles */
/* own styles own styles own styles own styles */

.c-header-text {
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
}
.c-header-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 86, 120);
}
.c-header-text-conten-item {
  padding: 1rem;
}
.c-header-text-conten-item-h2 {
  letter-spacing: -.01em;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  font-size: clamp(1.25rem,.979592vw + 1.02041rem,2rem);
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.c-header-text-conten-item-p {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 150%;
  padding: 0.75rem 0;
  color: #fff;
  margin: 0;
}

.c-position-absolute {
  position: absolute;
  z-index: 5;
  top: 5%;
}

/* own styles own styles own styles own styles */
/* own styles own styles own styles own styles */
/* own styles own styles own styles own styles */
