.c-box-header-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.c-box-header-banner {
    width: 100%;
    height: 527px;
    position: relative;
    text-align: center;
}
.c-box-header-banner-img-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 261px;
}
.c-box-header-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    width: 100%;
}
.c-box-header-box-text-h2 {

    /* Iron/H_1 */
    font-family: var(--font-family-iron_man_of_war_2_ncv-regular);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: transparent;
    background: var(--Iron-Gradient, linear-gradient(180deg, #B76765 0%, #791C1F 37.11%, #9B1E22 54.69%, #DD3A30 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
}
.c-box-header-box-text-p {
    color: var(--White, #FFF);

    /* Iron/Descriptor_1 */
    font-family: var(--font-family-iron_man_of_war_2_ncv-regular);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
[data-id="I285:2230;189:4123"] {
    width: 100%;
}

.close-arrow {
    transform: rotate(180deg);
    transition: all 0.2s linear 0s;
    background-image: url("./img/open-1.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}


/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
.iron-man .accordion {
    border-radius: 0px;
    height: 58px;
    overflow: hidden;
}
.accordion-arrow {
    transform: rotate(180deg);
    transition: all 0.2s linear 0s;
}
.accordion.active {
    height: auto;
}
.accordion-arrow.active {
    transform: rotate(0deg);
}


.accordion-faq.active {
    height: auto;
}
.accordion-faq-item.active {
    height: auto;
}
.close-arrow.active {
    transform: rotate(180deg);
    background-image: url("./img/close.svg");
}
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */


/* ##### LOADER LOADER LOADER LOADER*/
/* ##### LOADER LOADER LOADER LOADER*/
.progress {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    z-index: 1;
    
  }
  .img-1, .img-2, .img-3 {
    position: relative;
    border-radius: 50%;
    background-color: var(--iron-red);
    width: 18px;
    height: 18px;
    animation: 2s ease-in-out infinite load;
  }
  
  .img-2,
  .img-3 {
    animation: 2s ease-in-out 0.4s infinite load;
  }
  .img-3 {
    animation: 2s ease-in-out 0.8s infinite load;
  }
  @keyframes load {
      50% {
        opacity: 0;
        transform: scale(0.7);
      }
  }
  
  
  
  .hidden-text {
    display: none;
    align-self: stretch;
    background-color: transparent;
    color: var(--black-2);
    font-style: normal;
    font-weight: 400;
    line-height: 13.0px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
  }
  .text-1419 {
    flex: 1;
    position: relative;
  }
  .hidden-text.show {
    display: block;
  }
  /* ##### LOADER LOADER LOADER LOADER*/
  /* ##### LOADER LOADER LOADER LOADER*/

  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */
  .iron-man .fixed {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    /* width: 390px; */
    width: 430px;
    margin: 0 auto;
    transition: all 0.2s linear 0s;
  }
  #button2 {
    /* display: none; */
    bottom: -4rem;
  }
  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */


  /* ## ### ## SLIDER BOX ## ## ### */
  /* ## ### ## SLIDER BOX ## ## ### */
  .twinkly .c-catben-cozy-room-1-izvN34-0 {
    height: 450px;
  }
  .header__slider_image {
    width: 100%;
  }

  /* ## ### ## SLIDER BOX ## ## ### */
  /* ## ### ## SLIDER BOX ## ## ### */


.iron-man #button1 {
    box-shadow: 0px 0px 18px 0px var(--ironyellow);
    animation: pulse 1.5s linear infinite normal forwards;
}
@keyframes pulse {
    0% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 18px 0px var(--ironyellow);
    }
    50% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 4px 0px var(--ironyellow);
    }
    100% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 18px 0px var(--ironyellow);
    }
}

@media (max-width: 480px) {
    .iron-man {
        width: 100%;
    }
    .iron-man .marketing-block-zANbx8 {
        width: 100%;
    }   
    .iron-man .content {
        width: 100%;
    }
    .iron-man .footer-zANbx8 {
        width: 100%;
    }
    .iron-man .fixed {
        width: 95%;
        margin: 0 auto;
    }
}
@media (max-width: 390px) {
    .iron-man .mask-group-texture-img-3fXeNY {
        left: 0;
    }
    .iron-man .jarvis-close-Kojc37 {
        margin-right: -3rem;
    }
    .iron-man .jarvis-open-4FI9Ub {
        margin-left: -2rem;
    }
    .iron-man .sale-Ps2A2P {
        left: 220px;
        /* display: none; */
    }
    .iron-man .x5-opening-modes-wHEA1C {
        gap: 10px;
    }
    .iron-man .voice-control-wHEA1C {
        gap: 10px;
    }
    .iron-man .led-eye-lights-wHEA1C {
        gap: 10px;
    }
    .iron-man .touch-control-wHEA1C {
        gap: 10px;
    }
    .iron-man .remote-control-wHEA1C {
        gap: 10px;
    }

    .iron-man .accordion-faq-mobil {
        height: 60px;
    }
    .iron-man .accordion-faq-item-mobil {
        height: 60px;
    }

    .iron-man .accordion-faq-mobil.active {
        height: auto;
    }
    .iron-man .accordion-faq-item-mobil.active {
        height: auto;
    }
}
@media (max-width: 370px) {
    .iron-man .jarvis-open-4FI9Ub {
        margin-left: -3rem;
    }
    .iron-man .jarvis-close-Kojc37 {
        margin-right: -3.5rem;
    }
}

@media (max-width: 330px) {
    .c-box-header-box-text-h2 {
        font-size: 40px;
    }
    .iron-man .mask-group-texture-img-3fXeNY {
        left: -20px;
    }
    .iron-man .jarvis-open-4FI9Ub {
        margin-left: -6rem;
    }
    .iron-man .jarvis-close-Kojc37 {
        margin-right: -6rem;
    }
    .iron-man .smart-and-sensitive-touch-control-YwQ2M3 {
        font-size: 10px;
    }
    .iron-man .led-eye-lights-81SM1C {
        font-size: 10px;
    }
    .iron-man .jarvis-voice-control-Zf1pRK {
        font-size: 10px;
    }
    .iron-man .sale-Ps2A2P {
        left: 175px;
    }
    .iron-man .subscribe-to-our-e-mail-newsletter-LdSG5u {
        font-size: 34px;
    }
    .iron-man .accordion-faq-mobil-2 {
        height: 60px;
    }
    .iron-man .accordion-faq-item-mobil-2 {
        height: 60px;
    }

    .iron-man .accordion-faq-mobil-2.active {
        height: auto;
    }
    .iron-man .accordion-faq-item-mobil-2.active {
        height: auto;
    }
}