@media (max-width: 390px) {
    .twinkly {
        width: 100%;
    }
    .twinkly .group-CfnxRB {
        width: 100%;
    }
    .twinkly .img-mjZBpr {
        width: 100%;
    }
    .twinkly .x520-teardrop-shaped-mjZBpr {
        left: 155px;
    }
    .twinkly .sale-CfnxRB {
        width: 100%;
    }
    .twinkly .twinkly-smart-curtain-lights150x180-cm-3s9L0x {
        width: 100%;
    }
    .twinkly .button_1-CfnxRB {
        width: 100%;
    }
    .twinkly .pay-services-color-HSAjDH {
        width: 100%;
    }
    .twinkly .shipping-CfnxRB {
        width: 100%;
    }
    .twinkly .shipping-rN2zGi {
        width: 100%;
    }
    .twinkly .catben-cozy-room-1-izvN34 {
        width: 100%;
    }
    .twinkly .faq-ULoqen {
        width: 100%;
    }
    .twinkly .content-KbcGDd {
        width: 100%;
    }
    .twinkly .faq-Cx9iCS {
        width: 100%;
    }
    .twinkly .customer-reviews-ULoqen {
        width: 100%;
    }
    .twinkly .footer-ULoqen {
        width: 100%;
    }
    .twinkly .content-uWD2ct {
        width: 100%;
    }
    .twinkly .input-orYnT5 {
        width: 100%;
    }
    .twinkly .subscribe-to-our-e-mail-newsletter-naSojT {
        width: 100%;
    }
}

@media (max-width: 330px) {
    .twinkly .frame-lxhowD {
        justify-content: space-around;
    }
    .twinkly .x520-teardrop-shaped-mjZBpr {
        left: 100px;
    }
}