.c-lightning-that-matches-with-your-vibe {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/H_2 */
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 30.8px */
}
.c-x20-ready-presetsdiy-mode-app-controlled-Hh1Hno {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/Text_Primary_2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}
.c-x520-teardrop-shaped-light-beads-S3NXOk {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/Text_Primary_2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}
.c-twinkly-smart-curtain-lights150x180-cm {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;
    
    /* Smart RGB/H_3 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 15.4px */
}
.c-cozier-house-with-just-one-click {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/H_2 */
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 30.8px */
}
.c-conveniently-control-Ysxd4a {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/Text_Primary_2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}
.twinkly .c-catben-cozy-room-1-izvN34-1 {
    height: 420px;
}
.twinkly .c-catben-cozy-room-1-izvN34-2 {
    height: 450px;
}
.twinkly .c-catben-cozy-room-1-izvN34-3 {
    height: 500px;
}
.c-customer-reviews {
    color: var(--Smart-RGB-White, #FFF);
    text-align: center;

    /* Smart RGB/H_2 */
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 30.8px */
}
.c-jessica-m-aHuJMK {
    color: var(--Smart-RGB-White, #FFF);

    /* Smart RGB/H_3 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 15.4px */
}

/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
.accordion.active {
    height: auto;
}
.accordion-arrow.active {
    transform: rotate(0deg);
}

.accordion-faq.active {
    height: auto;
}
.close-arrow.active {
    transform: rotate(45deg);
}
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */


/* ##### LOADER LOADER LOADER LOADER*/
/* ##### LOADER LOADER LOADER LOADER*/
.progress {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    z-index: 1;
    
  }
  .img-1, .img-2, .img-3 {
    position: relative;
    border-radius: 50%;
    background-color: var(--smart-rgbpurple);
    width: 18px;
    height: 18px;
    animation: 2s ease-in-out infinite load;
  }
  
  .img-2,
  .img-3 {
    animation: 2s ease-in-out 0.4s infinite load;
  }
  .img-3 {
    animation: 2s ease-in-out 0.8s infinite load;
  }
  @keyframes load {
      50% {
        opacity: 0;
        transform: scale(0.7);
      }
  }
  
  
  
  .hidden-text {
    display: none;
    flex-direction: row;
    justify-content: center;
    color: var(--color-gray-500);
  }
  .text-1419 {
    flex: 1;
    position: relative;
  }
  .hidden-text.show {
    display: block;
  }
  /* ##### LOADER LOADER LOADER LOADER*/
  /* ##### LOADER LOADER LOADER LOADER*/

  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */
  .twinkly .fixed {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 390px;
    margin: 0 auto;
    /* display: none; */
  }
  #button2 {
    display: none;
  }
  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */


  /* ## ### ## SLIDER BOX ## ## ### */
  /* ## ### ## SLIDER BOX ## ## ### */
  .twinkly .c-catben-cozy-room-1-izvN34-0 {
    height: 450px;
  }
  .header__slider_image {
    width: 100%;
  }

  /* ## ### ## SLIDER BOX ## ## ### */
  /* ## ### ## SLIDER BOX ## ## ### */

  

@media (max-width: 390px) {
    .twinkly {
        width: 100%;
    }
    .twinkly .group-CfnxRB {
        width: 100%;
    }
    .twinkly .img-mjZBpr {
        width: 100%;
    }
    .twinkly .x520-teardrop-shaped-mjZBpr {
        left: 155px;
    }
    .twinkly .sale-CfnxRB {
        width: 100%;
    }
    .twinkly .twinkly-smart-curtain-lights150x180-cm-3s9L0x {
        width: 100%;
    }
    .twinkly .button_1-CfnxRB {
        width: 100%;
    }
    .twinkly .pay-services-color-HSAjDH {
        width: 100%;
    }
    .twinkly .shipping-CfnxRB {
        width: 100%;
    }
    .twinkly .shipping-rN2zGi {
        width: 100%;
    }
    .twinkly .catben-cozy-room-1-izvN34 {
        width: 100%;
    }
    .twinkly .faq-ULoqen {
        width: 100%;
    }
    .twinkly .content-KbcGDd {
        width: 100%;
    }
    .twinkly .faq-Cx9iCS {
        width: 100%;
    }
    .twinkly .customer-reviews-ULoqen {
        width: 100%;
    }
    .twinkly .footer-ULoqen {
        width: 100%;
    }
    .twinkly .content-uWD2ct {
        width: 100%;
    }
    .twinkly .input-orYnT5 {
        width: 100%;
    }
    .twinkly .subscribe-to-our-e-mail-newsletter-naSojT {
        width: 100%;
    }
    .twinkly .faq-Cx9iCS {
        width: 100%;
    }
    .twinkly .fixed {
        width: 95%;
        margin: 0 auto;
    }
}

@media(max-width: 370px) {
    .twinkly .x520-teardrop-shaped-mjZBpr {
        left: 145px;
    }
}

@media (max-width: 330px) {
    .twinkly .frame-lxhowD {
        justify-content: space-around;
    }
    .twinkly .x520-teardrop-shaped-mjZBpr {
        left: 100px;
    }
    .twinkly .trustpilot-O4fJ3E {
        gap: 20px;
    }
    .twinkly .free-shipping-in-country {
        font-size: 12px;   
    }
    .twinkly .catben-cozy-room-1-izvN34 {
        height: 500px;
    }
    .twinkly .c-catben-cozy-room-1-izvN34-0 {
        height: 400px;
    }
    .twinkly .logo-p1tCK8 {
        left: 115px;
    }
}