.c-preview-KompNZ-bg {
    display: flex;
    height: 557px;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 0px 120px 120px;
    border-bottom: 3px solid #928DAB;
    background: linear-gradient(180deg, rgba(219, 215, 238, 0.33) 0.03%, rgba(146, 141, 171, 0.79) 36.8%, #1F1C2C 95.52%);
    backdrop-filter: blur(15px);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
}
.c-preview-KompNZ-bg-img {
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.c-video-GSXTJf-bg {
    display: flex;
    /* height: 380px; */
    padding: 15px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(219, 215, 238, 0.00) 25.32%, rgba(31, 28, 44, 0.81) 99.98%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.porta-flix .c-img-SmsGxX {
    background-image: url(./img/img-2.png);
    align-items: flex-end;
}
.porta-flix .c-txt-e9eHLO {
    background-color: var(--black-0-b-0-b-0-b-50, rgba(11, 11, 11, 0.50));

}
.porta-flix .c-light-off-q7pRe7 {
    color: var(--white-ffffff-100, #FFF);
}

.c-svg-1 {
    width: 194.47px;
    height: 275px;
    transform: rotate(-178.42deg);
    flex-shrink: 0;
    /* fill: radial-gradient(22.72% 44.68% at 55.22% 52.01%, rgba(219, 215, 238, 0.80) 0%, rgba(146, 141, 171, 0.80) 56.78%, rgba(31, 28, 44, 0.80) 100%);
    filter: blur(20px); */
    position: absolute;
    top: 1%;
}
.c-svg-2 {
    width: 335.931px;
    height: 302.399px;
    /* transform: rotate(-90deg); */
    flex-shrink: 0;
    position: absolute;
    top: 25%;
    right: 14px;
}
.c-svg-3 {
    width: 375px;
    height: 390px;
    /* transform: rotate(-90deg); */
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}


table, th, td {
    border: 1px solid var(--Used-Dark-Gray, #626262);
}
.c-table {
    width: 100%;
    border-radius: 20px;
}
.c-table-header-th {
    width: 102px;
    padding: 10px 15px;
    align-self: stretch;
}
.c-table-width-medium {
    width: 167px;
}
.c-table-header-th-span {
    color: var(--white-ffffff-100, #FFF);
    text-align: center;
    flex: 1 0 0;
    
    /* Gilroy/Text_Primary_Accent */
    font-family: "Gilroy-Medium";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}
.c-table-bg-gray {
    background: #D8D4EC;
}
.c-table-body-td {
    width: 102px;
    padding: 10px 15px;
    align-self: stretch;
    text-align: center;
}
.c-table-body-td-span {
    flex: 1 0 0;
    color: var(--white-ffffff-100, #FFF);
    text-align: center;

    /* Gilroy/Text_Primary_Accent */
    font-family: "Gilroy-Medium";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}
.c-table-m-minus {
    margin-bottom: -14px;
}

.porta-flix .c-margin-top {
    margin-top: 10px;
}


/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
.porta-flix  .accordion {
    height: 60px;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}
.accordion.active {
    height: auto;
}
.porta-flix  .accordion-arrow {
    transform: rotate(180deg);
    transition: all 0.2s linear 0s;
    background-image: url("./img/open_arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.accordion-arrow.active {
    transform: rotate(0deg);
    background-image: url("./img/close_arrow.svg");
}

.porta-flix  .accordion-faq {
    height: 60px;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}
.accordion-faq.active {
    height: auto;
}
.porta-flix  .close-arrow {
    transform: rotate(180deg);
    transition: all 0.2s linear 0s;
}
.close-arrow.active {
    transform: rotate(0deg);
}
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */



/* ##### hiddenText hiddenText hiddenText hiddenText*/
/* ##### hiddenText hiddenText hiddenText hiddenText*/
/* ##### hiddenText hiddenText hiddenText hiddenText*/
.hidden-text {
    display: none;
    flex-direction: row;
    justify-content: center;
    color: var(--color-gray-500);
  }
  .text-1419 {
    flex: 1;
    position: relative;

    align-self: stretch;
    background-color: transparent;
    color: var(--black-282828100);
    font-style: normal;
    font-weight: 400;
    line-height: 13.0px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    font-family: var(--font-family-gilroy-regular);
    font-size: var(--font-size-xs);
  }
  .hidden-text.show {
    display: block;
  }
 /* ##### hiddenText hiddenText hiddenText hiddenText*/
 /* ##### hiddenText hiddenText hiddenText hiddenText*/
/* ##### hiddenText hiddenText hiddenText hiddenText*/

/* choose btns choose btns choose btns */
/* choose btns choose btns choose btns */
/* choose btns choose btns choose btns */
.porta-flix .selector_-color {
    background-color: var(--snuff-2);
    cursor: pointer;
}
.selector_-color.active {
    background-color: var(--snuff);
}
/* choose btns choose btns choose btns */
/* choose btns choose btns choose btns */
/* choose btns choose btns choose btns */



/* ## ### ## SLIDER BOX ## ## ### */
/* ## ### ## SLIDER BOX ## ## ### */
/* ## ### ## SLIDER BOX ## ## ### */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ## ### ## SLIDER BOX ## ## ### */
/* ## ### ## SLIDER BOX ## ## ### */
/* ## ### ## SLIDER BOX ## ## ### */


/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */
/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */
/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */
.mySwiper3 {
    width: 95%;
    margin: 0 auto;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.c-mySwiper3 {
    width: 100%;
    height: 370px;
    border-radius: 20px;
    /* overflow: hidden; */
}
.c-mySwiper3-swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 1px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-horizontal>.c-swiper-pagination-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
}
.c-swiper-pagination-3 .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #D8D4EC;
    opacity: 1;
}
.c-swiper-pagination-3>.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    stroke-width: 1px;
    border: 1.5px solid #D8D4EC;
    background: transparent;
}

.swiper-button-prev {
    left: -1px;
}
.swiper-button-next{
  right: -1px;
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 60px;
}
.swiper-button-prev::after {
  background-image: url("./img/arrow_Left.svg");
}
.swiper-button-next::after {
  background-image: url("./img/arrow_Right.svg");
}


.img-yJEmui {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */
/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */
/* ## ### ## SLIDER BOX 3 SLIDER BOX 3 SLIDER BOX 3 ## ## ### */


@media (max-width: 480px) {
    .porta-flix {
        width: 100%;
    }
}
@media (max-width: 390px) {
    .porta-flix .light-5ZzBcR {
        left: -10px;
    }
    .c-table-width-medium {
        width: 100%;
    }
    .porta-flix .connect-the-projecto-s2E1nI {
        margin-right: 10px;
    }
}
@media (max-width: 370px) {
    .porta-flix .light-5ZzBcR {
        left: -25px;
    }   
    .porta-flix .frame-hTdcPU {
        margin-right: 15px;
    } 
}
@media (max-width: 330px) {
    .porta-flix .header-DeHxtN {
        gap: 30px;
    }
    .porta-flix .faq-2wurxJ {
        width: auto;
    }
    .porta-flix .light-5ZzBcR {
        left: -45px;
        top: 30px;
    }
    .porta-flix .the-next-gen-portable-hd-projector-3lG2Hl {
        width: 100%;
    }
    .porta-flix .transform-your-wall-DTynCo {
        width: 100%;
        height: auto;
    }
    .porta-flix .free-shipping {
        width: 90%;
    }
    .porta-flix .seamless-streaming-built-in-ixePXd {
        width: 100%;
        font-size: 22px;
    }
    .porta-flix .frame-hTdcPU {
        margin-right: 50px;
    }
    .c-table-m-minus {
        margin-bottom: -20px;
    }
    .c-table-m-minus-x {
        margin-bottom: -14px;
    }
    .porta-flix .easy-setup-and-adjustment-mMkPEN {
        font-size: 22px;
    }
    .porta-flix .easily-connect-to-ex-mMkPEN {
        width: 100%;
    }
}