@media (max-width: 390px) {
    .nano-drone {
        width: 100%;
    }
    .nano-drone .offer-fbvBcw {
        width: 100%;
    }
    .nano-drone .frame-j1M0wx {
        width: 100%;
    }
    .nano-drone .frame-sO6gnc {
        width: 100%;
    }
    .nano-drone .frame-Y80C7X {
        width: 100%;
    }
    .nano-drone .img-aSpwA0 {
        width: 100%;
    }
    .nano-drone .buttontime-4ZxxtH {
        width: 95%;
    }
    .nano-drone .button_1-nI9Ioy {
        width: 100%;
    }
    .nano-drone .pay-services-color-dqzPOU {
        width: 100%;
    }
    .nano-drone .frame-dqzPOU {
        width: 100%;
    }
    .nano-drone .blur-t6mEFO {
        width: 100%;
    }
    .nano-drone .what-you-get-with-purchase-sO6gnc {
        width: 100%;
    }
    .nano-drone .img-2-xQqxtx {
        left: 131px;
    }
    .nano-drone .what-you-get-with-purchase-XJTOip {
        width: 100%;
    }
    .nano-drone .frame-115-sO6gnc {
        width: 100%;
    }
    .nano-drone .faqs-sO6gnc {
        width: 100%;
    }
    .nano-drone .reviews-sO6gnc {
        width: 100%;
    }
    .nano-drone .footer-sO6gnc {
        width: 100%;
    }
    .nano-drone .logo-j83F4P {
        left: 5px;
    }
    .nano-drone .price-j83F4P {
        left: 245px;
    }
}