*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  color: #272727;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}
.container_l {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 15px; */
}

/* ------------------------------------------------------------- */

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 23px 0;
}

/* ------------------------------------------------------------- */

.top-video {
  overflow: hidden;
}
.top-video video {
  width: 100%;
  margin-top: -36%;
  margin-bottom: -9%;
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

.price__old {
  color: #100b0b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: line-through;
}
.price__new {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* ------------------------------------------------------------- */

.sizes {
  margin-bottom: 20px;
}

/* --------------------------------------------------------- */
/* ------------------------------------------------------------- */

.stringWithTime {
  position: absolute;
  top: 20%;
  left: 15%;
}
.run-string {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  gap: 15px;
}
.run-string__text {
  white-space: nowrap;
  flex-shrink: 0;
  animation: run 5s linear infinite;
  font-size: 20px;
  font-weight: 400;
  color: #FF8A1E;
}
@keyframes run {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.timer,
.timer2 {

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  text-transform: capitalize;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

.accordion-box {
  margin-bottom: 30px;
  font-family: Montserrat;
}
.accordion {
  padding: 0 0.5rem;
}
.accordion__item {
  padding: 11px 20px 7px 32px;
  margin-bottom: 11px;

  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.accordion__item:not(:first-child) {
  margin-top: 11px;
}
.accordion__header {
  cursor: pointer;
  position: relative;
  padding-left: 43px;

  color: #5B596C;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.accordion__header p {
  padding-right: 35px;
}
#accordion__header-1::before,
#accordion__header-2::before,
#accordion__header-3::before,
#accordion__header-4::before,
#accordion__header-5::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#accordion__header-1::before {
  background-image: url(../images/truck.svg);
}
#accordion__header-2::before {
  background-image: url(../images/shield.svg);
}
#accordion__header-3::before {
  background-image: url(../images/check-circle.svg);
}
#accordion__header-4::before {
  background-image: url(../images/settings.svg);
}
#accordion__header-5::before {
  background-image: url(../images/help-circle.svg);
}
.accordion__header::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background-image: url(../images/arrow--rounded--bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 27px;
  height: 27px;
  transition: all 0.2s linear 0s;
}
.accordion__header.active::after {
  transform: translateY(-50%) rotate(0deg);
}
.accordion__body {
  margin-top: 11px;
  max-width: 450px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s;
  color: #575551;
  font-size: 14px;
  font-weight: 400;
}
.accordion__body_description > p {
  color: #272727;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion__body_description li {
  color: #272727;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion__body_description-img {
  margin-bottom: 22px;
}
.accordion__body_description ul {
  list-style: disc;
  margin-left: 20px;
}
.accordion__header.active+.accordion__body {
  max-height: 450px;
}
.accordion__footer {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width:521px) {
  .accordion__header {
    padding-left: 29px;
  }

  .accordion__header p {
    max-width: 350px;
  }

  .accordion-box {
    padding: 22px 11px 7px 11px;
  }
}
@media (max-width:411px) {
  .accordion__header p {
    max-width: 300px;
  }
}
@media (max-width:387px) {
  .accordion__header p {
    max-width: 270px;
  }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

.review {
  margin-bottom: 50px;
  font-family: Montserrat;
}
/* --------------------------------------------------------- */

.footer {
  background: #1C8552;
  padding: 20px 30px;
  position: relative;
}
.footer__form_ttl {
  color: #FFF;
  text-shadow: 5px 4px 20px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 78.626%; /* 15.725px */
  text-transform: uppercase;
  margin: 0.5rem 0;
}
.footer__form_input {
  border-radius: 16px;
  background: #FFF;
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 15px;
}
.footer__form_btn {
  width: 100%;
  
  margin-bottom: 21px;
  padding: 12px;
  border: 1px solid #575551;


  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  text-transform: uppercase;

  border-radius: 10px;
  background: #434343;
}
.footer__form_btn:hover {
  background-color: transparent;
}
.footer__info {
  margin-top: 21px;
}
.footer__info_nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__info_nav span {
    color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 10px */
  text-transform: lowercase;
}
/* --------------------------------------------------------- */

.fixed {
  margin-top: 30px;
  text-align: center;
  padding: 15px 30px;
  display: inline-block;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  max-width: 420px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);

  border: none;
  border-radius: 10px;
  background: #C70807;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.fixed {
  position: fixed;
  bottom: 0;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
}
.fixed-btn__text {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer {
  margin-top: 25px;
  margin-bottom: 3rem;
  position: relative;
}
.footer__info_btnBlock {
  text-align: center;
}
.footer__info_btn {
  display: inline-block;
  padding: 6px;
  margin: 15px 0;
  cursor: pointer;


  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 10px */
  text-transform: uppercase;

  border-radius: 16px;
  background: #434343;
}
.footer__info_text {
  opacity: 1;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 10px */
  text-transform: lowercase;
}
.footer__info_text.show .text {
  display: block;
  text-align: center;
  font-size: 8px;
  display: block;
}



/* ### ## ##### ## OWN STYLES ### ##### #### */
/* ### ## ##### ## OWN STYLES ### ##### #### */
/* ### ## ##### ## OWN STYLES ### ##### #### */
/* ### ## ##### ## OWN STYLES ### ##### #### */

.accordion__body_description-img {
  width: 100%;
}

.timer-p {
  color: #fff;
  text-align: center;
  font-family: Mountains of Christmas;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  text-transform: capitalize;
  margin-bottom: 11px
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.c-header-div {
	background: #660101;
	padding: 0.5rem 0;
}
.c-header-title {
	color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.c-display-flex {
	display: flex;
	padding: 8px 9px 9px 10px;
	justify-content: center;
    align-items: center;
	flex-shrink: 0;
}
.c-display-p {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
}
.c-header-div-snow {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.c-header-div-snow-img {
  width: 100%;
}

.c-div-model-img {
	width: 100%;
}

.swiper-button-next, .swiper-button-prev {
	color: rgba(0, 0, 0, 1);
}


.c-box-img-pay {
	display: flex;
  justify-content: space-evenly;
  align-items: center;
	margin: 1rem 0;
}

.c-box-img-pay > img {
	width: 12%;
}
.c-box-img-pay > .c-box-img-pay-expres {
	aspect-ratio: 3/2;
    object-fit: contain;
}
.c-box-img-pay-pay {
	aspect-ratio: 3/2;
    object-fit: contain;
}
.c-display-flex-space {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.c-display-flex-gap {
  gap: 30px;
  border-top: 1px solid #A9A6C1;
  border-bottom: 1px solid #A9A6C1;
}
.reviews__item_title_span {

  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 78.626%; /* 15.725px */
}



.c-display-flex-items {
	max-width: 80px;
  width: 100%;
  margin: 0;
}
.c-display-flex-items-img {
	width: 100%;
}
.c-preViews {
  margin: -1.5rem 0;
}
.c-preViews-vid {
	max-width: 100%;
	width: 100%;
}
.c-preViews-vid-video {
	width: 100%;
}

.activeBtn {
	border-radius: 6px;
    border: 1px solid #000;
    background: #000;
    padding: 10px;
    width: 106px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



/* The Modal (background) */
.c-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 20; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .c-modal-content {
	background-color: #C70807;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 560px;
	width: 100%;
  }
  
  /* The Close Button */
  .c-modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .c-modal-close:hover,
  .c-modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .c-modal-content-img {
	width: 100%;
  }


.btnBlcok__flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c-header__inner-1 {
  max-width: 80px;
  width: 100%;
  margin: 0;
  position: absolute;
  left: -1%;
  top: -10%;
}
.c-header__inner-2 {
  max-width: 12%;
  width: 100%;
  margin: 0;
}
.c-header__inner-3 {
  max-width: 40px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: -20%;
  right: 0;
}
.c-header__inner-img {
  width: 100%;
}
.header__title strong {
  color: #1E1E1E;
  text-align: center;
  font-family: Mountains of Christmas;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.52%; /* 39.008px */
  text-transform: capitalize;
}
.c-header-links-flex {
  gap: 40px;
  /* background: #FFF; */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.c-header-links-flex-a {
  color: #7B738B;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.c-top {
  max-width: 100%;
  position: relative;
}
.c-top-p {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Mountains of Christmas;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  text-transform: capitalize;
  position: absolute;
  top: 35%;
  left: 25%;
}
.c-top-img {
  width: 100%;
}
.c-box-prices {
  max-width: 100%;
  position: relative;
  margin-top: -4rem;
  z-index: 0;
  margin-bottom: -4rem;
}
.c-box-prices-img {
  width: 100%;
}
.timer-text {

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  text-transform: capitalize;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
[src="./images/top-3-1.svg"] {
  margin-bottom: -1rem;
}
.c-top-p-1 {
  left: 15%;
}
.c-top-p-2 {
  top: 45%;
  left: 15%;
}
.c-top-p-3 {
  top: 45%;
  left: 15%;
}
.c-top-p-5 {
  top: 45%;
  left: 25%;
}
.c-top-p-6 {
  top: 45%;
  left: 30%;
}
[src="./images/top-4-2.svg"] {
  margin-bottom: -20px;
  position: absolute;
}
[src="./images/top-4-1.svg"] {
  margin-bottom: -0.4rem;
}
.c-faqs-h2 {
  color: #9E0E1D;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Mountains of Christmas;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.c-faqs-accordion__item {
  border-radius: 10px;
  background: #1C8552;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#c-faqs-accordion__header-1::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/heart.svg);
}
.c-faqs-accordion__header-1::after {
  background-image: url(../images/faqs.svg);
}
.c-faqs-accordion__header-1 p {
  color: #FFF;
  font-family: Mountains of Christmas;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.52%; /* 19.504px */
  font-variant: all-small-caps;
}
.c-faqs-accordion__body_description p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.52%; /* 11.702px */
  font-variant: all-small-caps;
}
.reviews--row p {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}
.c-reviews {
  position: relative;
  padding: 0 0.5rem;
}
.c-reviews::before {
  content: "";
  background-image: url("../images/reviewsshap.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
}
.c-reviews__item_media {
  height: 500px;
  overflow: hidden;
}
.c-loader {
  border-radius: 16px;
  background: #1C8552;
  padding: 4px;
  max-width: 25%;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.c-loader-p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 10px */
  text-transform: uppercase;
}

.c-rasmer-box {
  z-index: 10;
  padding-bottom: 1rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.c-rasmer-box-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.c-rasmer-box-shirt {
  flex-basis: 50%;
  width: 50%;
  position: relative;
}
.c-rasmer-box-shirt-item1 {
  max-width: 100%;
  /* height: 35vh; */
}
.c-rasmer-box-shirt-item1-img {
  width: 100%;
}
.c-rasmer-box-shirt-item2 {
  padding: 2px;
  border: 1px solid #827171;
  /* margin-top: 0.5rem; */
}
.c-rasmer-box-shirt-item2-p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
}
.c-rasmer-box-shirt-item2-p b {
  cursor: pointer;
}

.c-rasmer-imgs-shirt-h2 {
  color: #9E0E1D;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 14px */
  text-transform: capitalize;
  margin: 10px 0;
}
.c-rasmer-imgs-shirt {
  flex-basis: 50%;
  max-width: 50%;
}
.c-rasmer-imgs-shirt-div {
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.c-rasmer-imgs-shirt-div-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.c-rasmer-imgs-shirt-div-rasme {
  display: flex;
  aling-items: center;
  gap: 1rem;
}
.c-rasmer-imgs-shirt-ras {
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3px;
  color: #606474;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  text-transform: capitalize;
  cursor: pointer;
}


.input__wrapper {
  width: 100%;
  position: relative;
  /* margin: 15px 0; */
  text-align: center;
}
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
.input__file-button {
  
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  padding: 2px;

  color: #606474;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;

  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.60);
}

.c-rasmer-margin-l {
  margin-top: 25px;
}

.c-footer-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}



/* ##### LOADER LOADER LOADER LOADER*/
/* ##### LOADER LOADER LOADER LOADER*/
.progress {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
  z-index: 1;
  
}
.img-1, .img-2, .img-3 {
  position: relative;
  border-radius: 50%;
  background-color: #1C8552;
  width: 18px;
  height: 18px;
  animation: 2s ease-in-out infinite load;
}

.img-2,
.img-3 {
  animation: 2s ease-in-out 0.4s infinite load;
}
.img-3 {
  animation: 2s ease-in-out 0.8s infinite load;
}
@keyframes load {
	50% {
	  opacity: 0;
	  transform: scale(0.7);
	}
}



.hidden-text {
  display: none;
  flex-direction: row;
  justify-content: center;
  color: var(--color-gray-500);
}
.text-1419 {
  flex: 1;
  position: relative;
}
.hidden-text.show {
  display: block;
}


/* ##### LOADER LOADER LOADER LOADER*/
/* ##### LOADER LOADER LOADER LOADER*/



.drawing-area{
  position: absolute;
  top: 20%;
  left: 28%;
  z-index: 10;
  width: 90px;
  height: 85px;
}

.canvas-container{
  width: 90px; 
  height: 85px; 
  position: relative; 
  user-select: none;
}

#canvas{
  position: absolute;
  width: 90px;
  height: 85px; 
  left: 0px; 
  top: 0px; 
  user-select: none; 
  cursor: default;
}

.c-first-shirt-h2 {
  margin-top: 0;
}

.activeSize {
  background: #000;
  color: #fff;
}

@media (max-width: 480px) {
	.c-header-title {
		font-size: 14px;
	}
	.c-modal-content {
		width: 100%;
	}
  .fixed {
    max-width: 90%;
  }
}

@media (max-width: 390px) {
	.nav__logo {
		width: 40%;
	}
	.UI-timer__title {
		font-size: 14px;
	}
  .drawing-area {
    left: 25%;
    top: 14%;
  }
	.c-rasmer-imgs-shirt-div-img {
    width: 40px;
    height: 40px;
  }
  .c-rasmer-imgs-shirt-ras {
    font-size: 14px;
  }
  .c-rasmer-imgs-shirt-h2 {
    margin: 9px 0;
  }
  .c-rasmer-box-shirt {
    padding: 0 0.2rem;
  }
  .c-first-shirt-h2 {
    margin-top: 0;
  }
  .header__title strong {
    font-size: 30px;
  }
  .stringWithTime {
    left: 10%;
  }
  .c-top-p-1 {
    left: 10%;
  }
  .c-top-p-2 {
    left: 10%;
  }
}

@media (max-width: 370px) {
  .stringWithTime {
    left: 10%;
  }
  .c-rasmer-margin-l {
    margin-top: 0;
  }
}


@media (max-width: 330px) {
	.UI-timer__title {
		font-size: 10px;
	}
  .c-top-p-6 {
    left: 25%;
  }
  .c-top-p-5 {
    left: 20%;
  }
  .c-top-p-2 {
    left: 5%;
  }
  .c-top-p-3 {
    left: 10%;
  }
  .c-top-p-1 {
    left: 5%;
  }
  .stringWithTime {
    left: 5%;
    top: 15%;
  }
  .c-top-p-0 {
    left: 20%;
  }
  .header__title strong {
    font-size: 30px;
  }

  .c-rasmer-imgs-shirt-h2 {
    font-size: 12px;
  }
  .c-rasmer-imgs-shirt-ras {
    font-size: 12px;
  }
  .c-rasmer-margin-l {
    margin-top: 0;
  }
  .drawing-area {
    left: 20%;
    top: 10%;
  }
  .UI-btn {
    bottom: 28.5%;
  }
}