.c-width-modal {
    width: 300px;
}


@media (max-width: 480px) {
    .question-1-of-4 {
        width: 100%;
    }
}
@media (max-width: 370px) {
    .question-1-of-4 .introducing-the-all-XSMCiM {
        width: 100%;
    }
}
@media (max-width: 330px) {
    .c-width-modal {
        width: 90%;
    }
}
@media (max-width: 250px) {
    .question-1-of-4 .get-it-for-just-3-only-today-XSMCiM {
        width: 100%;
    }
}