.c-frame-xNTsVi-div-imgs {
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-frame-xNTsVi-p {
    color: var(--White, #FFF);

    /* Text_Primary */
    font-family: var(--font-family-roboto);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
.accordion.active {
    height: auto;
}
.accordion-arrow.active {
    transform: rotate(-90deg);
}

.accordion-faq.active {
    height: auto;
}
.close-arrow.active {
    transform: rotate(45deg);
}
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */
/* #### ##### #### Acordion ### #### ### */


/* ##### LOADER LOADER LOADER LOADER*/
/* ##### LOADER LOADER LOADER LOADER*/
.progress {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    z-index: 1;
    
  }
  .img-1, .img-2, .img-3 {
    position: relative;
    border-radius: 50%;
    background-color: var(--red);
    width: 18px;
    height: 18px;
    animation: 2s ease-in-out infinite load;
  }
  
  .img-2,
  .img-3 {
    animation: 2s ease-in-out 0.4s infinite load;
  }
  .img-3 {
    animation: 2s ease-in-out 0.8s infinite load;
  }
  @keyframes load {
      50% {
        opacity: 0;
        transform: scale(0.7);
      }
  }
  
  
  
  .hidden-text {
    display: none;
    flex-direction: row;
    justify-content: center;
    color:  var(--black-2);
    font-size: var(--font-size-s);
  }
  .text-1419 {
    flex: 1;
    position: relative;
  }
  .hidden-text.show {
    display: block;
  }
  /* ##### LOADER LOADER LOADER LOADER*/
  /* ##### LOADER LOADER LOADER LOADER*/

  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */
  .nano-drone .fixed {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    /* width: 390px; */
    width: 430px;
    margin: 0 auto;
    transition: all 0.2s linear 0s;
  }
  #button2 {
    /* display: none; */
    bottom: -4rem;
  }
  /* ### ### FIXED BLOCK ## ### */
  /* ### ### FIXED BLOCK ## ### */



.nano-drone #button1 {
    box-shadow: 0px 0px 18px 0px #457ed9;
    animation: pulse 1.5s linear infinite normal forwards;
}
@keyframes pulse {
    0% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 18px 0px #457ed9;
    }
    50% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 4px 0px #457ed9;
    }
    100% {
      animation-timing-function: linear;
      box-shadow: 0px 0px 18px 0px #457ed9;
    }
}

#special-faq {
    height: 90px;
}
#special-faq.active {
    height: auto;
}

@media (max-width: 480px) {
    .nano-drone {
        width: 100%;
    }
    .nano-drone .content {
        width: 100%;
    }
    .nano-drone .view-ucOg8v {
        width: 100%;
    }
    .nano-drone .preview-Fopkxq {
        width: 100%;
    }
    .nano-drone .offer-Fopkxq {
        width: 100%;
    }
    .nano-drone .fixed {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .frame-ueVfME {
        cursor: none;
    }
    .nano-drone .frame-Z1RCRv {
        cursor: none;
    }
    .nano-drone .frame-FuzdWl {
        cursor: none;
    }
}
@media (max-width: 390px) {
    .nano-drone .robosen-optimus-prim-ucOg8v {
        width: 100%;
    }
    .nano-drone .robosen-optimus-prim-BhuxEp {
        width: 100%;
    }
    .nano-drone .selection-BUook0 {
        width: 95%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .nano-drone .frame-wVMAdb {
        width: 100%;
    }
    .nano-drone .selection-choice-wVMAdb {
        width: 100%;
    }
    .nano-drone .frame-ueVfME {
        width: 110px;
    }
    .nano-drone .cloud-gs323h {
        height: 100%;
        width: 100%;
    }
    .nano-drone .img-gs323h {
        width: 100%;
    }
    .nano-drone .frame-FuzdWl {
        width: 110px;
    }
    .nano-drone .cloud-OunsOQ {
        height: 100%;
        width: 100%;
    }    
    .nano-drone .img-OunsOQ {
        width: 100%;
    }
    .nano-drone .cloud-rERMmN {
        height: 100%;
        width: 100%;
    }
    .nano-drone .frame-BUook0 {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .line-LPYZ9D {
        width: 20%;
    }
    .nano-drone .line-lSxrrh {
        width: 20%;
    }
    .nano-drone .line-OMtpaH {
        width: 20%;
    }
    .nano-drone .line-zDJUee {
        width: 20%;
    }
    .nano-drone .frame-sD3LmJ {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .buttontime-BhuxEp {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .group-BhuxEp {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .shipping {
        width: 100%;
    }
    .nano-drone .shipping-BhuxEp {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .frame-ucOg8v {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .optimus-prime-comes-LNcb7W {
        width: 100%;
    }
    .nano-drone .authentic-g1-optimus-prime-9k2jqy {
        width: 100%;
    }
    .nano-drone .blaster-battle-axe-included-9k2jqy {
        width: 100%;
    }
    .nano-drone .img-5aoGrm {
        left: 155px;
    }
    .nano-drone .worlds-first-auto-converting-transformer-9k2jqy {
        width: 100%;
    }
    .nano-drone .worlds-first-auto-converting-transformer-z1agFf {
        left: 210px;
    }
    .nano-drone .frame-z1agFf {
        left: 148px;
    }
    .nano-drone .blaster-battle-axe-included-TH3u8g {
        width: 100%;
    }
    .nano-drone .img-cR5wSi {
        left: 155px;
    }
    .nano-drone .frame-cR5wSi {
        left: 120px;
    }
    .nano-drone .optimus-prime-comes-ucOg8v {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .optimus-prime-comes-dgI6xM {
        width: 100%;
    }
    .nano-drone .whats-in-the-box-br6P2Y {
        width: 100%;
    }
    .nano-drone .energon-axe-axbpPo {
        left: 260px;
    }
    .nano-drone .frame-br6P2Y {
        width: 100%;
    }
    .nano-drone .faqs-ucOg8v {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .faq {
        width: 100%;
    }
    .nano-drone .reviews-ucOg8v {
        width: 95%;
        margin: 0 auto;
    }
    .nano-drone .review {
        width: 100%;
    }
    .nano-drone .footer-ucOg8v {
        width: 100%;
    }
    .nano-drone .subscribe-to-our-e-mail-newsletter-u46rn5 {
        width: 100%;
    }
    .nano-drone .input-6gXK2H {
        width: 100%;
    }
}


@media (max-width: 330px) {
    .nano-drone .frame-DuxkiH {
        left: 120px;
    }
    .nano-drone .authentic-g1-optimus-prime-DuxkiH {
        left: 180px;
    }
    .nano-drone .img-5aoGrm {
        left: 110px;
    }
    .nano-drone .frame-5aoGrm {
        left: 110px;
    }
    .nano-drone .frame-z1agFf {
        left: 100px;
    }
    .nano-drone .worlds-first-auto-converting-transformer-z1agFf {
        left: 170px;
    }
    .nano-drone .img-cR5wSi {
        left: 105px;
    }
    .nano-drone .energon-axe-axbpPo {
        left: 230px;
    }
    .nano-drone .energon-axe-kxM84s {
        white-space: normal;
    }
}
